# Logs
logs
*.log
*audit.json
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env

# coverage files
coverage
.vscode

